/*= UTILITIES */



/*= BODY */
/*? HEADER */
header{
    height: 100px;
}

#header-logo{
    height: 35px;
}

#header-logo img{
    width: 80px;
}

#header-nav{
    height: 65px;
}

#header-nav i{
    font-size: 44px;
}

/*? MAIN */
#main-first-section-jumbotron{
    height: 590px;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100px;
}

#main-first-section{

}
/*= HOVER EFFECTS */



/*= MEDIA QUERIES */
