/*= UTILITIES */
/*? COLORS */
.color-grey{
    color: #727272;
}

.color-lightblue{
    color: #1b81d2;
}

/*? BACKGROUND-COLORS */
.bg-color-orange{
    background-color: #cd3d0f;
}

.bg-color-blue{
    background-color: #2d64e6;
}

.bg-color-darker-blue{
    background-color: #161c3b;
}



.bg-lighter-black{
    background-color: #1f1f1f;
}

.bg-color-light-grey{
    background-color: #bebcbb;
}

.bg-color-lighter-grey{
    background-color: #d9dadc;
}


/*? PADDINGS AND MARGINS */
.margin-y-30{
    margin: 30px 0;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-y-100{
    margin: 100px 0;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-bottom-100{
    margin-bottom: 100px;
}

.padding-y-100{
    padding: 100px 0;
}

/*? FONTS*/
.font-size-22-px{
    font-size: 22px;
}

.font-size-40-px{
    font-size: 40px;
}

.f-weight-600{
    font-weight: 600;
}

/*? GENERALS */
.my-button{
    padding: 10px 12px;
    border-radius: 50px;
}

a{
    text-decoration: none;
}

/*= BODY */
/*? HEADER */
header{
    height: 100px;
}

#header-logo{
    height: 35px;
}

#header-logo img{
    width: 80px;
}

#header-nav{
    height: 65px;
}

#header-nav i{
    font-size: 44px;
}

/*? MAIN */
#main-first-section-jumbotron{
    height: 590px;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100px;
}

#main-first-section{
    padding-top: 265px;
}

#returnal-logo{
    width: 280px;
}

#main-second-section{
    padding: 10px 0;
}

#m-2-section-row-1 div{
    width: 190px;
    height: 110px;
    border-radius: 20px;
    padding: 20px;
}

#m-2-section-row-1 div img{
    width: 100%;
    border-radius: 20px;
}

#playstation{
    width: 100%;
    position: relative;
    bottom: 18px;
}

#m-2-section-row-4 div{
    width: 126px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#m-2-section-row-4 div img{
    width: 100%;
}

#main-third-section-jumbotron{
    margin-top: 50px;
    height: 620px;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#main-third-section{
    padding: 40px 0;
}

#it-tkes-two-logo{
    width: 320px;
}

#m-4-section-row-2{
    justify-content: center;
}

#m-4-section-row-2 div{
    width: 185px;
    border-radius: 20px;
    margin: 17px;
}

#m-4-section-row-2 div img{
    width: 100%;
    border-radius: 20px;
}

#m-5-section-row-2 div.col-12 div.img-box{
    width:350px;
    margin: 0 auto;
}

#m-5-section-row-2 div.col-12 img{
    width:100%;
}

#main-sixth-section-bg{
    /* height: 245px; */
    width: 100%;
}

.section-col-logo-box{
    width: 325px;
}

.section-col-logo-box img{
    width: 100%;
}


.section-col-img-box{
    height: 100%;
    bottom: 0;
    right: 0;
    margin-right: 50px;
}

.section-col-img-box img{
    height: 100%;
    width: 100%;
}

#m-7-section-row-2 div{
    margin: 30px auto;
}

#m-7-section-row-2 div img{
    width: 100%;
}

#main-height-section-background{
    height: 460px;
}

#ps-now-april-featured-img-box{
    margin: 0;
}


/*= HOVER EFFECTS */



/*= MEDIA QUERIES */
@media screen and (min-width:576px){
    /*? MAIN */

}

@media screen and (min-width:768px){
    /*? MAIN */
    #playstation{
        position: relative;
        bottom: 105px;
    }

    #m-2-section-row-4 div{
        margin: 0 30px;
    }
}

@media screen and (min-width:992px){
    /*? MAIN */
    
}

@media screen and (min-width:1200px){
    /*? MAIN */
    #m-2-section-row-4 {
        justify-content: center;
    }
}

@media screen and (min-width:1400px){
    /*? MAIN */
    
}