/*= UTILITIES */
/*? COLORS */

/*? BACKGROUND-COLORS */
.bg-color-orange{
    background-color: #cd3d0f;
}

/*? PADDINGS AND MARGINS */
.margin-y-30{
    margin: 30px 0;
}
/*? FONT SIZES */
.font-size-40-px{
    font-size: 40px;
}
/*? BUTTONS */
.my-button{
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 50px;
}

/*= BODY */
/*? HEADER */
header{
    height: 100px;
}

#header-logo{
    height: 35px;
}

#header-logo img{
    width: 80px;
}

#header-nav{
    height: 65px;
}

#header-nav i{
    font-size: 44px;
}

/*? MAIN */
#main-first-section-jumbotron{
    height: 590px;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100px;
}

#main-first-section{
    padding-top: 265px;
}

#returnal-logo{
    width: 280px;
}

/*= HOVER EFFECTS */



/*= MEDIA QUERIES */
